.form__background {
  width: 400px;
  height: 200px;
  margin: 40px auto 0 auto;
  padding: 20px;
  border: 1px solid #000;
  background-color: aqua;
}

.form__background label span {
  display: block;
  margin: 0;
  padding: 0;
}
.form__background label input {
  margin: 0;
  padding: 0;
}
.button {
  background-color: antiquewhite;
  display: inline-block;
  width: 20px;
  height: 20px;
}
